/***********************
Program : contact.css **
************************/

*{
	padding:0;
	margin :0;
}

html{
    background: url("../images/bg.png") no-repeat center bottom fixed;
    background-size:cover;
}

h1{
	text-align:center;
	/*background:red;*/
	margin-bottom:10px;
}


.sectionSelectie .selectieVeld{
    display :  block;
	position : relative;
	left : 30px;
	width: 40%;
	height : 170px;
    padding: 10px;
    margin : 3px 0px 40px 200px;
}
    	 
.sectionSelectie .selectieVeld p{
	position : absolute;
	margin : 10px 10px 10px 50px;
}
.sectionSelectie .selectieVeld #selectie{
    margin : 20px 0px 0px 0px;
}

label{
	margin : 10px;
}

/*

.sectionInvoer{
    position : relative;
    border : 7px solid red;
    margin-bottom : 10px;
}

.sectionVerzenden{
    border : 7px solid black;
    margin-bottom : 0px;
}
*/


.sectionInvoer .invoerVeld{
	position : relative;
	display : block;
	margin: 3px 0px 0px 220px;
}

.sectionInvoer .invoerVeld #naam{
	width : 495px;
    height :25px;
}
.sectionInvoer .invoerVeld #email{
    width : 495px;
	height :25px;
}
.sectionInvoer .invoerVeld #telefoon{
	position : absolute;
	margin-left :20px;
    width : 495px;
    height :25px;
}

.sectionInvoer .invoerVeld p{

    position : absolute;
    padding : 5px;
    margin-left : 5px; 
/*
    margin : 30px 0px 0px 1px;
*/
}

.sectionInvoer .invoerVeld #onIce{
    position : absolute;
    margin : 10px 0px 0px 10px;
    /*
    position : absolute;
	margin-top :20px 0px 0px 30px;
*/
}

.sectionVerzenden .verzenden{
    /*
    margin-left : 0px;
*/
}
.sectionVerzenden button{
    position : absolute;
    margin : 10px 0px 0px 230px;
    padding : 5px;
    /*
	position : relative;
	margin: 3px 20px 20px 220px;
	padding : 10px;
*/
}
