@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

html{
    background: url("../images/bg.png") no-repeat center bottom fixed;
    background-size:cover;
}

body {
	width:80%;/*alle children van body worden weergegeven op 80% van het scherm*/
	margin-right: auto;/*hierdoor wordt alles in het midden gezet binnen 80% van scherm */
	margin-left: auto;/*hierdoor wordt alles in het midden gezet binnen 80% van scherm */
	font-family: Verdana, Geneva, sans-serif;/*default font wordt overschreven door aanwezig font*/
    font-size:0.8em;
    margin-top:40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #fff;
    padding: 10px 15px;
	}
#logo {
    margin:15px auto;
    width:500px;
    height:250px;
    
}
h1{
    text-align: center;
    margin: 40px 0px;
    font-family: 'Indie Flower', cursive;
    font-size: 2.6em;
    color: #3188CE;
}
h2{
    margin: 20px 0px;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    color: #3188CE;
}
h3{
    margin: 15px 0px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.6em;
    color: #3188CE;
}

legend {
    font-size : 1.2em;
    font-weight : bold;
    padding-left : 25%;
}

label {
   float : left;
   width : 25%;
   text-align : right;
   
   margin-top : 10px;
}

.h2formulier {
    margin-left : 25%;

}

.invoerveld {
    margin-left: 10px;
    margin-top: 10px;
    width: 250px;
   
}

.postcode-cijfer {
    width : 40px;
    padding-left : 5px;
}

.postcode-letter {
    width : 30px;
    padding-left : 5px;
}

.naam {
    
    width : 350px;
   
}

.invoerblok {
    margin : 10px auto;
    width : 50%;
    list-style-type : none;
    border : 1px solid #3C95D2;
    padding : 10px;
}

.button {
    text-decoration:none;
    border : 0;
    padding:5px;
    background-color:#3188CE;
    margin-left : 50%;
    border-radius:5px;
    font-size:1em;
    color:white;
    height : 40px;
    width : 100px;
   
}

.les-pulldown {
    height : 30px;
    margin-left : 50%;
    /*margin-top : 10px;
    margin-left : 50%;*/
}
nav{
    text-align:center;
    background-color:#FFFFFF;
    margin-top:50px;
}
nav a {
    text-decoration:none;
    padding:10px 20px 10px 20px;
    background-color:#3188CE;
    margin:0px 10px;
    border-radius:5px;
    font-size:1em;
    color:white;
}

nav a:link {
    color:#fff;
}
nav a:hover {
    color:#072B7C;
}
.half {
    width:50%;
    float:left;
}
.inner {
    padding:15px;
}
